<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add client</title>
</head>
<body>

<form action="/clientSave" method="post">
    <input type="hidden" name="client_id" th:value="${client.getClient_id()}"/>

    <label for="client_name">Client name:</label>
    <input type="text" id="client_name" name="client_name" required th:value="${client.getClient_name()}"><br><br>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required th:value="${client.getClient_phone()}"><br><br>

    <input id="submit_button" type="submit" value="Submit">
</form>


</body>
</html>