<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disk list</title>
    <style>
        body{
            background-color: #cec5fa;
        }
    </style>
</head>
<body>

<p><a href="/">Main Page</a></p>
<form method="post" action="/diskAdd">
    <button id="diskAdd_button" type="submit">Add disk</button>
</form>

<table>
    <thead>
    <tr>
        <th scope="col"> id </th>
        <th scope="col"> Order id</th>
        <th scope="col"> Movie</th>
        <th scope="col"> Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="disk : ${disks}">
        <td><a th:href="'/disk?disk_id=' + ${disk.getDisk_id()}"> <span
                th:text="${disk.getDisk_id()}"> </span> </a></td>
        <td><span th:text="${disk?.getOrder()?.getOrder_id()}"> </span></td>
        <td><span th:text="${disk?.getMovie()?.getMovie_name()}"> </span></td>
        <td><span th:text="${disk?.getType()?.getType_name()}"> </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>